/* src/styles/theme.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    /* Color Palette */
    --primary-color: #0077b6;
    /* Teal/Deep Blue */

    --accent-color: #ff6b6b;
    /* Coral/Orange */

    --secondary-color: #bde0fe;
    /* Pastel Blue */

    --text-color: #333333;
    /* Dark Grey for Text */


    /* Typography */
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}